@charset "utf-8";
@import "compass";

body {
  background: #444;
}
#polar-clock {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;

  svg {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;

    path {
      z-index: 1;
      @include transition(stroke-dashoffset .2s ease);
    }
  }
  div.path-label {
    position: absolute;
    top: 0;
    right: 0;
    opacity: 0;
    background: rgba(100,100,100,.5);
    padding: .5em 1em;
    font-size: 40px;
    @include transition(opacity .2s ease);

    &.full-time {
      left: 0;
      text-align: center;
    }

    &.visible {
      opacity: 1;
    }
  }
}